html, body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: roboto;

}
.header,
.sec_one {
  background-color: rgb(34, 34, 48);
  color: white;
  
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 0;

}
ul {
  padding-inline-start: 0;
  color: #E5E7EB;
  font-size: 18px;
  
}

ul li {
  list-style-type: none;
  
}
.ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-right: 20px;
}

a {
  text-decoration: none;
  color: white;

}
.main h1{
  margin-top: 0px;
  margin-bottom: 5px;
}
.main_button {
  padding: 5px;
  background-color: #3882F6;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 6px 25px 6px 25px;
  font-weight: 600;
  
}

p.paragraph {
  margin: 2px 0 16px 0;

}

.sec_one {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  padding:30px 0 80px 0;
  
}
.main {
  display: flex;
  flex-direction: column;
  width: 450px;
  align-items: baseline;

}
.hashira {
  width: 500px;
 
}

.sec_two {
  padding: 20px 0 30px 0;
}

.characters img {
  width: 200px;
  height:130px;

  
}
.characters p {
  margin-top: 8px;
}


.shinobu {
  height: 120px;
}
.characters {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

.section_two {
  text-align: center;
  
}

.middle_quote {
  margin-top: 70px;
  display: flex;
  text-align: center;
  padding: 120px;
  background-color: #E5E7EB;
  justify-content: center;

}

.quote {
  align-items: center;
  width: 490px;
  margin-block-end: 0;
  margin-block-start: 0;
  font-style: italic;
  font-weight: 600;
  line-height: 40px;
  font-size: 25px;
  color: #1F2937;

}


.call-to-action {
  display: flex;
  justify-content: center;
  background-color: #3882F6;
  gap: 150px;
  align-items: center;
  padding: 40px 0 40px 0;
  color: white;
  border-radius: 6px;
  margin-top: 100px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;

  
}
.span {
  font-weight: 600;
}

.action {
  margin-top: 20px;
  align-items: center;
  line-height: 5px;
  
}

.sign-up {
  margin: 0;
  padding:2px 15px 2px 15px;
  border-radius: 10px;
  border-style: none;
  border: solid 2px;
  border-color: white;
  background-color: #3882F6;
  color: white;

}

.footer {
  font-size: 20px;
  color: white;
  background-color: #1F2937;
  padding: 8px;
  margin-top: 100px;
  text-align: center;
}


 




